:root {
  /*Colors*/
  --green: #0ead68;
  --yellow: #e2b039;
  --red: #c3423f;
  --gray: #96a3ab;

  -p-color: #b2b6b9;

  --title-color: #424b54;

  --btn-color: #227c9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  display: grid;
  gap: 10px;
}

.left-side p {

  color: #8e9497;
  max-width: 50ch;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

